{% extends "layout.jinja2" %}

{% block content %}

<style type="text/css">
	BODY{background-color: {{ bgcolor }}};
</style>

<div class="content">
  <h1><span style="color:{{color}}" class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
  <p class="lead">Welcome to <span style="color:{{color}}" class="font-normal">Pyramid Scaffold</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span style="color:{{color}}" class="font-normal">Cookiecutter</span>.</p>

  "Hope your having fun MEDINA click HERE"
 <a href="http://www.nfl.com/videos/nfl-game-highlights/0ap2000000249877/Raiders-vs-Broncos-highlights"<span style="color:{{color}}">YOU WILL ENJOY THIS</a></span>

  <li><a href = "http://localhost:6543/color/blue"> turns blue</a></li>
  <li><a href = "http://localhost:6543/color/green"> turns green</a></li>
  <li><a href = "http://localhost:6543/color/gray"> turns gray</a></li>
  <li><a href = "http://localhost:6543/form"> Choose Background</a></li> 

<br>

{% endblock content%}