<!DOCTYPE html>
<html lang="en">
<body>
	<form method="POST" action="/form_handler">
	<div>
		<input type="text" name="color" value="blue"/>
	<div>
		<input type="submit" value="SUBMIT"/>
	</form>
</body>
</html>